
.app {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactImage {
  width: 100px;
  float: left;
  margin: 10px 20px 10px 10px;
}

.contactItem {
  width: 450px;
  background-color: grey;
  margin: 15px;
  padding: 15px;
}


.contactsList {
  border: solid 1px grey;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 15px;
  padding: 15px;
}

.contactForm {
  border: solid 1px grey;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 15px;
  padding: 15px;
}

.contactForm input {
  margin: 20px;
}

.contactForm button {
  height: 30px;
  margin: 20px 20px 20px 60px;
  background-color: rgb(62, 62, 172);
  border: none;
  border-radius: 2%;
  color: white;  
  

}